<!--
Kalimul Kaif, David Lee, Mottaqi Abedin, Ethan Salanha
MKED
SoftDev
P01 -- ArRESTed Development
2025-12-22
time spent: 0.0 hr
-->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/homepage.css" />
  <link rel="stylesheet" href="../static/nav.css" />

  <title>Homepage</title>
</head>

<body>
    <h1>LiveMKED: Work Better, Live Better</h1>
    <nav>
      <ul class="nav-links">
        <li><a href="{{ url_for('homepage') }}">Home Page</a></li>
        <li><a href="{{ url_for('profile') }}">My Profile</a></li>
        <li><a href="{{ url_for('search') }}">Search</a></li>
        <li><a href="{{ url_for('my_jobs') }}">My Jobs</a></li>
        <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
      </ul>
    </nav>

    <h3>welcome, {{username}}!</h3>
    <hr>

    <form action="{{ url_for('search') }}" method="GET">
      <label for="search">Search For Job!!</label>
      <div>
        <input type="search" id="search" name="job_title" placeholder="Search for a job…" required />
        <button type="submit">Search</button>
      </div>
    </form>
</body>
</html>
