<!--
Kalimul Kaif, David Lee, Ethan Saldanha, Mottaqi Abedin
MKED
SoftDev 2026
P01 -- ArRESTed Development
2025-11-22
Time spent: 0.5h
-->
<!doctype html>
<html>
<head>
  <link rel="stylesheet" href ="../static/profile.css" />
  <link rel="stylesheet" href="../static/nav.css" />
</head>

<body>
  {%if curr_user == username %}
    <h1> My Profile </h1>
  {% else %}
    <h1> {{username}}'s Profile</h1>
  {% endif %}

  <nav>
    <ul class="nav-links">
      <li><a href="{{ url_for('homepage') }}">Home Page</a></li>
      <li><a href="{{ url_for('profile') }}">My Profile</a></li>
      <li><a href="{{ url_for('search') }}">Search</a></li>
      <li><a href="{{ url_for('my_jobs') }}">My Jobs</a></li>
      <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
    </ul>
  </nav>

  {% if curr_user == username %}
    <h3>My Bio!</h3>
  {% else %}
    <h3>{{username}}'s Bio!</h3>
  {% endif %}
  {% if creation_date %}
    <p><em>Member since {{ creation_date }}</em></p>
  {% endif %}

  <hr>
  {% if bio %}
    <p>{{ bio }}</p>
  {% else %}
    <p>No bio posted yet!</p>
  {% endif %}

  {% if curr_user == username %}
    <form action="{{ url_for('edit_profile') }}" method="GET">
      <button type="submit">Edit Bio</button>
    </form>
  {% endif %}
  <hr>
</html>
