<!--
Kalimul Kaif, David Lee, Mottaqi Abedin, Ethan Salanha
MKED
SoftDEV
P01 -- ArRESTed Development
2025-12-22
time spent: 0.5 hr
-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <style type="text/tailwindcss">
    @theme {

    }
  </style>
  <link rel="stylesheet" href="../static/register.css" />

    <title>LiveMKED Register</title>
</head>
<body>
    <h1>Create an Account with LiveMKED</h1>

    {% if text %}
        <p style="color: red;">{{ text }}</p>
    {% endif %}

    <p>Thank you for your interest in using the LiveMKED job search platform! To get started, register an account with us with valid credentials.</p>

    <form action="{{ url_for('register') }}" method="POST">
        <label class="text-center">Username</label>
        <input type="text" name="username" required>
        <br><br>

        <label class="text-center">Email</label>
        <input for="email" name="email" required>
        <br><br>

        <label class="text-center">Password</label>
        <input type="password" name="password" required>
        <br><br>

        <button class="cursor-pointer py-2 px-4 block mt-6 bg-indigo-500 text-white font-bold w-full text-center rounded type="submit">Register</button>
    </form>

    <br>
    <p>Already have an account? <a href="{{ url_for('index') }}">Login Here</a></p>
</body>
</html>
